:root {
    --album-border-color: salmon;
    --group-bg-color: transparent;
    --sticker-bg-color: transparent;

    --header-height: 50px;
    --footer-height: 50px;
}

/* #region playground layout */
my-album,
my-group,
my-sticker {
    position: relative;
}

my-tab {
    min-width: 50px;
    width: auto;
    height: 100%;
    border: 1px solid black;
    background-color: indianred;
    display: flex;
    transition: var(--transition-time);
    cursor: pointer;

    justify-content: center;
    align-items: center;
    padding: 5px;
}

my-album {
    display: block;
    border: 3px solid var(--album-border-color);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    /* TODO: temp to allow to create new group */
    padding-bottom: 10px;
}

my-group {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    flex: 1 1 100%;

    background-color: var(--group-bg-color);

    border: 2px solid saddlebrown;
    padding: 2px;
    align-content: center;

    &:empty {
        min-height: 20px;
        min-width: 20px;
    }

    &:not(:has(>my-sticker)):not(:empty) {
        border: none;
        padding: 0;
    }

    &:has(>my-sticker) {
        flex-wrap: wrap;
    }

    &[layer-level=odd] {
        flex-direction: row;
    }

    &[layer-level=even] {
        flex-direction: column;

        &>my-sticker+my-sticker {
            margin-top: 2px;
        }
    }
}

my-sticker {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;

    background-color: var(--sticker-bg-color);

    &[href]:not([href=""]) {
        cursor: pointer;
    }

    img {
        pointer-events: none;
    }
}

/* #endregion playground layout */

/* #region playground others */
/* #endregion playground others */

/* #region default stickers */
my-sticker img {
    width: 25px;
}

[data-type="list"] my-sticker img:not([src="null"])+p,
my-sticker[data-type="list"] img:not([src="null"])+p {
    margin-left: 6px;
}

my-sticker p:empty {
    display: none;
}

my-sticker img[src="null"] {
    display: none;
}

/* #endregion default stickers */

/* #region LIST */
my-group[data-type="list"] {
    flex-direction: column;
}

my-group[data-type="list"]>my-sticker,
my-album my-group>my-sticker[data-type="list"] {
    display: flex;
    flex-direction: row;
}

/* #endregion LIST */

/* #region ICON */
my-group[data-type="icon"] {
    flex-direction: row;
}

my-group[data-type="icon"]>my-sticker,
my-album my-group>my-sticker[data-type="icon"] {
    display: flex;
    flex-direction: column;
}

/* #endregion ICON */

#app[edit=true] my-sticker,
#app[edit=true] my-group {
    cursor: pointer;
    user-select: none;
}

#app[create=true] my-sticker,
#app[create=true] my-group {
    cursor: copy;
}

#app[delete=true] my-sticker,
#app[delete=true] my-group {
    cursor: alias;
}

/* DEBUGGING */
/* my-group my-sticker:last-child {
    background-color: darkblue;
}

my-group[tmp=true] my-sticker {
    pointer-events: none;
} */