:root {
    --album-border-color: salmon;
    --group-bg-color: transparent;
    --sticker-bg-color: transparent;
}

my-album,
my-group,
my-sticker {
    position: relative;
}

my-album {
    display: block;
    border: 3px solid var(--album-border-color);
    padding: 3px;
}

my-group {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    flex: 1;

    background-color: var(--group-bg-color);

    border: 2px solid saddlebrown;
    padding: 2px;
    /* TODO : delete? */
}

my-group:not(:has(>my-sticker)):not(:empty) {
    border: none;
    padding: 0;
}

my-group:has(>my-sticker) {
    flex-wrap: wrap;
}

my-group[layer-level=odd] {
    flex-direction: row;
}

my-group[layer-level=even] {
    flex-direction: column;
}

my-sticker {
    /* border: 1px solid green; */
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;

    background-color: var(--sticker-bg-color);
}

my-sticker[href]:not([href=""]) {
    cursor: pointer;
}

my-group[layer-level=even]>my-sticker+my-sticker {
    margin-top: 2px;
}

my-group:empty {
    min-height: 20px;
    min-width: 20px;
}

my-sticker img {
    width: 25px;
}

my-sticker img+p {
    margin-left: 6px;
}

my-group {
    order: var(--order);
}

my-sticker {
    order: var(--order);
    color: var(--color);
}

#app[edit=true] my-sticker,
#app[edit=true] my-group {
    cursor: pointer;
    user-select: none;
}

.drag-top::before,
.drag-right::after,
.drag-bottom::after,
.drag-left::before {
    content: "";
    position: absolute;
    background-color: yellow;
}

.drag-top::before {
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
}

.drag-right::after {
    width: 2px;
    height: 100%;
    right: 0;
}

.drag-bottom::after {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.drag-left::before {
    width: 2px;
    height: 100%;
    left: 0;
}

/* DEBUGGING */
my-group my-sticker:last-child {
    background-color: darkblue;
}