:root {
    --transition-time: 0.4s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

/* #region simple classes */
.hide {
    display: none !important;
}

.bold {
    font-weight: bold !important;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.scrollable {
    overflow-y: auto !important;
}

/* #endregion simple classes */

/* #region header */
header {
    height: 50px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav {
    display: flex;
    flex-direction: row;
    height: inherit;
    min-width: calc(90vw - 220px);
}

#app-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#edit-button {
    background-color: transparent;
    border: none;
    display: flex;
    cursor: pointer;
    height: 50px;
}

#edit-button svg {
    width: 45px;
    margin: 0 2.5px;
}

#edit-button svg path {
    transition: 0.4s;
}

#edit-button:hover svg path {
    fill: #1964d8;
}

#edit-button.active svg path {
    fill: #1964d8;
    stroke: #1964d8;
}

#settings-button {
    margin-right: 10px;
    opacity: 0;
}

#favs {
    width: 100px;
    text-align: center;
}

/* #endregion header */

/* header.side {

}

header.side~footer {} */

#playground {
    min-height: calc(100vh - 100px);
    /* background-color: azure; */
    background-color: rgb(88, 95, 95);
}

/* #region footer */
footer {
    min-height: 50px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
}

footer>div {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

footer>div>button {
    background: none;
    border: none;
    font-size: 16px;
}

footer>div>a {
    text-align: center;
    color: #000;
    text-decoration: none;
}

#popup {
    top: 0;
    position: fixed;
    background-color: rgb(125, 91, 125);
    border: 3px solid rgb(117, 66, 117);
    border-radius: 5px;
    min-width: 300px;
    min-height: 300px;
    z-index: 11;
    padding: 10px;
}

#popup button.close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    color: white;
    border: none;
    transition: var(--transition-time);
}

#popup>button.close:hover {
    color: gray;
    cursor: pointer;
}

#popup>.content ul>li {
    margin-left: 10px;
}

/* #endregion footer */

/* #region edit menu */
#edit-menu {
    background-color: white;
    position: absolute;
    top: 0px;
    z-index: 11;
}

#edit-menu-pool {
    background-color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

/* #endregion edit menu */

/* #region context menu */






/* #endregion context menu */

/* #region icons menu */
#icons {
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
    flex-direction: row;
    background-color: #4d3355;
    border: 1px solid #1a161c;
    border-radius: 10px;
    z-index: 11;
}

#icons .icon-infos {
    min-width: 200px;
    border-right: 1px solid #1a161c;
}

#icons-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

#icons .icons-display {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#icons-list .all-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#icons-list .icon {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#icons-list .icon img {
    color: red;
    width: 59px;
    height: 59px;
}

#icons-list .icon p {
    color: red;
}

#icons-list .load-more {
    margin: 30px auto auto auto;
}

.load-more {
    padding: 10px 30px;
    font-size: 21px;
}


/* #endregion icons menu */





/* #region dev */
.admin-tools {
    position: absolute;
    z-index: 30;
    left: 75%;
    top: 15%;
}

.admin-tools button {
    width: 50px;
    height: 35px;
}

/* #endregion dev */