/* Base */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    width:100vw;
    height:100vh;
    background-color:#3e3e3e;
    font-family:'Lato';
}

/* Scrollbar */
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-track {
    background:#000;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#4e4e4e;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#5e5e5e;
    border-radius:10px;
}
::-webkit-scrollbar-corner {
    background:rgba(255, 255, 255, 0);
}

/* Other */
.test {
    background-color:red;
    color:red;
}
.hide {
    display:none;
}
#playground.link-disabled a {
    pointer-events: none;
}

/* Menu */
.edit-menu {
    position:fixed;
    top:100px;
    right:100px;
    /* padding:0 3px; */
    background-color:#333333;
    display:flex;
    justify-content: center;
    align-items: center;
    border:#eeeeee80 solid 1px;
    border-radius:5px;
    z-index:1;
}
.edit-menu img {
    margin:auto 0;
    max-width:24px;
    max-height:24px;
    padding:3px;
    transition:0.4s;
    border-radius:5px;
    cursor:pointer;
}
.edit-menu img:hover {
    background-color:red;
}

/* Category */
.category {
    border:5px dashed #ffffff00;
    border-radius:5px;
    transition:0.4s;
    min-width:10px;
    min-height:10px;
}
.category.is-draggable {
    border:5px dashed #63a2ff;
    cursor:grab;
}
.category.is-dragged {
    cursor:grabbing;
}

/* Background overlay for positioning */
.drag-bottom {
    background:linear-gradient(0deg, #722935 20%, rgba(0, 0, 0, 0) 50%);
    background-repeat:no-repeat;
}
.drag-left {
    background:linear-gradient(90deg, #722935 7.5%, rgba(0, 0, 0, 0) 15%);
    background-repeat:no-repeat;
}
.drag-top {
    background:linear-gradient(180deg, #722935 20%, rgba(0, 0, 0, 0) 50%);
    background-repeat:no-repeat;
}
.drag-right {
    background:linear-gradient(270deg, #722935 7.5%, rgba(0, 0, 0, 0) 15%);
    background-repeat:no-repeat;
}

/* Empty box */
.empty-box {
    border:5px dotted #ffffff00;
    transition:0.4s;
}
.empty-box.drag-over {
    border:5px dotted #500000;
}
/* .empty-box.drag-over:hover {
    border:5px dashed #ff0000;
} */

/* Icon list */
.icon-list {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.icon-wrap {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:50%;
    margin:auto;
}
.img-pos {
    width:50px;
    height:50px;
    margin:auto;
}
a.icon {
    padding-top:15px;
    text-align:center;
    min-width:100px;
    min-height:100px;
    border:1px solid #eeeeee;
    margin:20px;
    transition:0.4s;
    color:#eeeeee;
    text-decoration: none;
}
a.icon:hover {
    background-color:#2e2e2e;
}
a.icon img {
    max-width:50px;
    max-height:50px;
}
a.icon p {
    margin-top:5px;
}

/* Sub-list */
.sub-list ul li {
    list-style:none;
    display:flex;
    flex-direction:row;
    color:#eeeeee;
    justify-content:center;;
}
.sub-list ul li a:hover {
    background-color:#2e2e2e;
    transition:0.4s;
}
.sub-list ul li a {
    display:flex;
    padding:5px;
    border-radius:5px;
    text-decoration:none;
}
.sub-list ul li a:visited {
    color:#eeeeee;
}
.sub-list ul li img {
    width:auto;
    height:20px;
    margin-right:10px;
}