#popup .mask {
    background-color:rgba(0, 0, 0, 0.4);
    position:absolute;
    width:100%;
    height:100%;
    z-index:2;
}

#popup .ask-cache {
    color:#eeeeee;
    position:fixed;
    max-width:500px;
    max-height:200px;
    background-color:rgb(44, 44, 44);
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding:20px;
    z-index:3;
}

#popup .ask-cache .text p:nth-child(1) {
    color:#eeeeee;
}

#popup .ask-cache .text p:nth-child(2) {
    margin:20px auto;
    text-decoration: underline;
    width:fit-content;
    font-size:14px;
}

#popup .ask-cache .text p:nth-child(2):hover {
    text-decoration: none;
    cursor:pointer;
}

#popup .ask-cache .answers {
    display:flex;
    justify-content: space-around;
}

#popup .ask-cache .answers p {
    background-color:#000000;
    padding:10px 20px;
    transition:0.4s;
}

#popup .ask-cache .answers p:hover {
    background-color:#202020;
    padding:10px 20px;
    cursor:pointer;
}