/************************* Variables *************************/
:root {
    /* base */
    --transition-time: 0.4s;
    --font-family:'Lato', arial, sans-serif;
    /* category */
    --text-color: #eee;
    --border-edit:5px dashed #63a2ff;
    --border-delete: 5px dotted rgb(179, 55, 55);
    --border-hover:5px dotted #500000;
    --border-radius:5px;
    --border-radius-link:10px;
    --hidden-border-color:5px dashed #ffffff00;
    --text-decoration:none;
    /* icon-list */
    --text-color-icon-list:#eee;
    --flex-direction-icon-list:row;
    --padding-icon-list-link:none;
    --margin-icon-list-link:20px;
    --border-icon-list-link:1px solid #eee;
    --border-radius-icon-list-link:5px;
    --flex-direction-icon-list-link:column;
    --margin-icon-list-icon:0;
    --max-width-icon-list-img:50px;
    --max-height-icon-list-img:50px;
    --margin-icon-list-text:5px 5px 0 5px;
    /* sub-list */
    --text-color-sub-list:#eee;
    --flex-direction-sub-list:column;
    --padding-sub-list-link:5px;
    --margin-sub-list-link:none;
    --border-sub-list-link: none;
    --border-radius-sub-list-link:10px;
    --flex-direction-sub-list-link:row;
    --margin-sub-list-icon: 0 5px 0 0;
    --max-width-sub-list-img:20px;
    --max-height-sub-list-img:20px;
    --margin-sub-list-text:auto;
    /* :active - when clicking*/

    /* :hover */
    --background-color-hover:#2e2e2e;
    /* :visited */
    --text-color-visited:#eee;
    /* form */
    --form-control-color: rgb(0, 0, 0);
    --form-control-disabled: #959495;
}

/************************* Base *************************/
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    width:calc(100vw - 5px);
    height:100vh;
    background-color:#3e3e3e;
    font-family:var(--font-family);
    transition:var(--transition-time);
}

/************************* Scrollbar *************************/
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-track {
    background:#000;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#4e4e4e;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#5e5e5e;
    border-radius:10px;
}
::-webkit-scrollbar-corner {
    background:rgba(255, 255, 255, 0);
}

/************************* Other *************************/
.test {
    background-color:red;
    color:red;
}
.hide {
    display:none;
}
.link-disabled a, a.link-disabled {
    pointer-events: none;
}
.special-character {
    font-family: -webkit-pictograph;
    font-size:15px;
}
.bold {
    font-weight: bold;
}

/************************* Checkboxes *************************/
input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color:currentColor;
    width:1.15em;
    height:1.15em;
    /* width:19px;
    height:19px; */
    border:0.15em solid currentColor;
    border-radius:25%;
    transform: translateY(-0.075em);
    display:grid;
    place-content:center;
}
/* label + label {
    margin-top:1em;
} */
input[type=checkbox]::before {
    content:"";
    width:0.65em;
    height:0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition:var(--transition-time) transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}
input[type=checkbox]:checked::before {
    transform:scale(1);
}
/* input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
} */
input[type=checkbox]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor:not-allowed;
}

/************************* Toolbar *************************/
#toolbar {
    position:fixed;
    top:100px;
    right:100px;
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items: center;
    border:#eeeeee80 solid 1px;
    border-radius:5px;
    z-index:1;
    overflow: auto;
    height:24px;
}
#toolbar > div {
    width:25px;
    color:#eee;
    transition:var(--transition-time);
    cursor:pointer;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#toolbar > div:hover:not(:first-child), #toolbar svg:hover {
    background-color: #eee;
    color:#333;
}
#toolbar div:first-child {
    font-size:10px;
    width:10px;
    color:#838383;
    cursor:move;
}
#toolbar div:first-child:active {
    cursor:default;
}
#toolbar img, #toolbar svg {
    margin:auto 0;
    max-width:24px;
    max-height:24px;
    padding:3px;
    transition:var(--transition-time);
    border-radius:5px;
    cursor:pointer;
    color:#eee;
}
#toolbar svg path {
    max-width:24px;
    max-height:24px;
}

/************************* Create menu *************************/
#create-menu {
    width:100vw;
    height:100vh;
}
#create-menu, #edit-menu {
    display:none;
    position:absolute;
    z-index:2;
}
#create-menu .depop-menu, #edit-menu .depop-menu {
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    z-index:2;
}
#create-menu.active {
    right:0;
}
#create-menu.active, #edit-menu.active {
    display:block;
    top:0;
    left:0;
}
#create-menu #create-content {
    position:absolute;
    background-color:darkcyan;
    z-index:3;
    display:flex;
    border-radius:10px;
    border:1px solid #000;
}
#create-menu #create-content > div {
    width:100px;
    height:100px;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#create-menu #create-content > div:hover {
    background-color: aquamarine;
    cursor:pointer;
    border-right:none;
    border-radius:10px;
}

/************************* Edit menu *************************/
#edit-menu #edit-item {
    height:100vh;
    position:fixed;
    background-color:#808080;
    padding:10px;
    /* border-left:2px #a7a6a6 solid; */
    z-index:3;
}
#edit-menu.active {
    right:0;
}
#edit-menu fieldset {
    border-width:2px 0 0;
    border-color:#fff;
    border-style:inset;
    /* border-radius:50%; */
}
#edit-menu fieldset legend {
    background-color:transparent;
    color:#fff;
    padding:3px 6px;
    margin-left:7px;
}
#edit-menu fieldset input {
    margin: 0.4rem;
    height:25px;
    font-family: 'Lato';
    font-size:16px;
}
#edit-menu fieldset>div {
    display:flex;
    flex-direction: column;
}
#edit-menu fieldset>div>label {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left:2px;
}
#edit-menu fieldset>div>label>input[type=checkbox] {
    height: 19px;
}
#edit-menu #edit-item p {
    cursor:pointer;
}

/************************* Group *************************/
.group {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.group .category {
    flex: 2 1 auto;
}

/************************* Background overlay for positioning *************************/
.drag-bottom {
    background:linear-gradient(0deg, #722935 20%, rgba(0, 0, 0, 0) 50%);
    background-repeat:no-repeat;
}
.drag-left {
    background:linear-gradient(90deg, #722935 7.5%, rgba(0, 0, 0, 0) 15%);
    background-repeat:no-repeat;
}
.drag-top {
    background:linear-gradient(180deg, #722935 20%, rgba(0, 0, 0, 0) 50%);
    background-repeat:no-repeat;
}
.drag-right {
    background:linear-gradient(270deg, #722935 7.5%, rgba(0, 0, 0, 0) 15%);
    background-repeat:no-repeat;
}

/************************* Category Global Rule *************************/
.category {
    border:var(--hidden-border-color);
    border-radius:var(--border-radius);
    transition:var(--transition-time);
    min-width:10px;
    min-height:10px;
    position:relative;
}
.category.is-draggable {
    border:var(--border-edit);
    cursor:grab;
}
.category.is-dragged {
    cursor:grabbing;
}
.category.drag-over {
    border:var(--border-hover);
}
.category.is-deletable {
    border:var(--border-delete);
    cursor:pointer;
}
.add-element {
    display:none;
    position:absolute;
    top:5px;
    right:5px;
}
#playground .add-element div {
    margin:0 2px 0 2px;
}
#playground .add-element div:nth-child(2) {
    font-family:sans-serif;
}
#playground .is-draggable .add-element {
    display:flex;
    min-width:20px;
    min-height:20px;
    justify-content: center;
    align-items: center;
}
#playground .is-draggable .add-element {
    cursor:pointer;
}
#playground .category.is-dragged .add-element {
    display:none;
}

/************************* Category Style *************************/
.category {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    color:var(--text-color);
}
.category a {
    transition:var(--transition-time);
    border-radius:var(--border-radius-link);
    color:var(--text-color);
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: var(--text-decoration);
}
.category a:visited {
    color:var(--text-color-visited);
}
.category a:hover {
    background-color:var(--background-color-hover);
}
.category a:active {
    color:var(--text-color);
}
/* Icon List Only */
.category.icon-list {
    flex-direction:var(--flex-direction-icon-list);
}
.category.icon-list a {
    flex-direction:var(--flex-direction-icon-list-link);
    min-width:100px;
    min-height:100px;
    /* max-height:10px; */
    padding:var(--padding-icon-list-link);
    margin:var(--margin-icon-list-link);
    border:var(--border-icon-list-link);
    border-radius:var(--border-radius-icon-list-link);
}
.category.icon-list a .icon {
    width:var(--max-width-icon-list-img);
    height:var(--max-height-icon-list-img);
    margin:var(--margin-icon-list-icon);
    display:flex;
}
.category.icon-list a img {
    max-width:var(--max-width-icon-list-img);
    max-height:var(--max-height-icon-list-img);
    margin:auto;
}
.category.icon-list p {
    color:var(--text-color-icon-list);
    margin:var(--margin-icon-list-text);
}
/* Sub-List Only */
.category.sub-list {
    flex-direction:var(--flex-direction-sub-list);
}
.category.sub-list a {
    flex-direction:var(--flex-direction-sub-list-link);
    padding:var(--padding-sub-list-link);
    margin:var(--margin-sub-list-link);
    border:var(--border-sub-list-link);
    border-radius:var(--border-radius-sub-list-link);
}
.category.sub-list a .icon {
    width:var(--max-width-sub-list-img);
    height:var(--max-height-sub-list-img);
    margin:var(--margin-sub-list-icon);
}
.category.sub-list a img {
    max-width:var(--max-width-sub-list-img);
    max-height:var(--max-height-sub-list-img);
}
.category.sub-list p {
    color:var(--text-color-sub-list);
    margin:var(--margin-sub-list-text);
}

/************************* Animations *************************/
@keyframes FadeOut {
    from {opacity:1;}
    to {opacity:0;}
}
.fade-out {
    animation-name:FadeOut;
    animation-duration:0.4s;
    animation-fill-mode: forwards;
}

@keyframes FadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
.fade-in {
    animation-name:FadeIn;
    animation-duration:0.4s;
    animation-fill-mode: forwards;
}